<header class="bg-amber-900 text-white sticky top-0 z-10 border-bottom">
    <section class="max-w-4xl mx-auto p-4 flex justify-between items-center">
        <picture class="h-12 sm:h-16 w-1/4 overflow-hidden flex items-center">
            <img class="scale-125 sm:scale-100" src="./assets/imgs/logo_text_white_trans.png" alt="logo">
        </picture>
        <div>
            <button id="mobile-open-button" class="text-3xl sm:hidden focus:outline-none">
                &#x2661;
            </button>
            <nav class="hidden sm:block space-x-8 text-xl" aria-label="main">
                <a href="#" class="text-nowrap hover:opacity-90">Startseite</a>
                <a href="#service" class="text-nowrap hover:opacity-90">Beliebte Services</a>
                <a href="#about" class="text-nowrap hover:opacity-90">Über uns</a>
            </nav>
        </div>
    </section>
</header>