<main class="max-w-4xl mx-auto">
    <section id="home" class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-8 mb-12">
        <article class="sm:w-1/2">
            <h2 class="max-w-md text-3xl font-bold text-center sm:text-4xl sm:text-left text-slate-900 dark:text-white">
                Nageldesign Wimpernverlängerung
            </h2>
            <p class="max-w-md text-3xl mt-4 text-center sm:text-left text-red-400 dark:text-red-400">
                ☆☆☆ NEU ☆☆☆
            </p>
            <p class="max-w-md text-2xl mt-2 text-center sm:text-left text-slate-700 dark:text-slate-400">
                Kopf-SPA ist jetzt für Buchungen verfügbar!
            </p>
        </article>
        <picture class="w-2/3 sm:w-1/4 overflow-hidden block">
            <img class="" src="./assets/imgs/logo_pink_transparent.png" alt="logo">
        </picture>
    </section>

    <section id="service" class="p-6 my-12">
        <div class="text-2xl text-center text-white dark:text-indigo-300 items-center">
            <a class="py-3 px-16 bg-red-400 rounded-full" href="https://wa.me/491791300279?text=Ich+interessiere+mich+für+einen+Termin+am+(Bitte+Datum+und+Uhrzeit+eintragen).">JETZT BUCHEN</a>
        </div>
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="service" class="p-6 my-12">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Beliebte Services
        </h2>
        <ng-image-slider [images]="imageObject" #nav [infinite]="true" [autoSlide]="true"></ng-image-slider>
        <section class="flex flex-col-reverse justify-center sm:flex-row p-6">
            <div class="w-full sm:w-1/2 p-4">
                <p class="text-center text-3xl text-slate-700 dark:text-white pt-2">Wimpern</p>
                <p class="text-center text-slate-700 dark:text-white pt-1">Wimpernverlängerung, Wimpernlifting + färben</p>
                <p class="text-center text-3xl text-slate-700 dark:text-white pt-2">Augenbrauen</p>
                <p class="text-center text-slate-700 dark:text-white pt-1">Augenbrauenlifting, Augenbrauenzupfen + färben</p>
                <p class="text-center text-3xl text-slate-700 dark:text-white pt-2">Permanent Make-up</p>
                <p class="text-center text-slate-700 dark:text-white pt-1">Augenbrauen und Lippen</p>
            </div>
            <div class="w-full sm:w-1/2 p-4">
                <p class="text-center text-3xl text-slate-700 dark:text-white pt-2">Nageldesign</p>
                <p class="text-center text-slate-700 dark:text-white pt-1">Neumodellage, Design French Ombre, Schellack</p>
                <p class="text-center text-3xl text-slate-700 dark:text-white pt-2">Fußpflege</p>
                <p class="text-center text-slate-700 dark:text-white pt-1">Pediküre, Fußmassage, Gel-Farbe oder French</p>
                <p class="text-center text-3xl text-slate-700 dark:text-white pt-2">Kopf-SPA</p>
                <p class="text-center text-slate-700 dark:text-white pt-1">Kopfhautbehandlung, Kopf- und Nackenmassage</p>
            </div>
        </section>
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="about" class="p-6 my-12">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Über uns
        </h2>
        <h2 class="text-3xl font-semibold mb-4">Willkommen bei Insel - Beauty & Coffee!</h2>
        <p class="text-slate-600 dark:text-white">In unserem Kosmetikstudio verbinden wir erstklassige Schönheitsbehandlungen 
            mit der Gemütlichkeit eines Cafés. Unser engagiertes Team bietet Ihnen individuelle Pflege und Entspannung in einer 
            einladenden Atmosphäre. Genießen Sie bei uns nicht nur wohltuende Behandlungen, sondern auch köstlichen Bubble Tea.</p>
        <p class="text-slate-600 dark:text-white mt-4">Hygiene, Qualität und Kundenzufriedenheit stehen bei uns an
            erster Stelle. In unseren modernen und entspannenden Räumlichkeiten bieten wir Ihnen ein unvergessliches
            Beauty-Erlebnis.</p>
        <p class="text-slate-600 dark:text-white mt-4">Vereinbaren Sie jetzt Ihren Termin ganz 
            bequem über WhatsApp und lassen Sie sich von uns verwöhnen!</p>
        <p class="text-slate-600 dark:text-white mt-4">- Ihr Team von <span class="text-slate-900 dark:text-white font-bold">Insel - Beauty & Coffee</span> -</p>
    </section>
</main>