<main class="max-w-4xl mx-auto">
    <section id="home" class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-8 mb-12">
        <article class="sm:w-1/2">
            <h2 class="max-w-md text-3xl font-bold text-center sm:text-4xl sm:text-left text-slate-900 dark:text-white">
                Nageldesign <span class="text-indigo-700 dark:text-indigo-300">und</span> Wimpernverlängerung
            </h2>
            <p class="max-w-md text-3xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                - Frohe Weihnachten! -
            </p>
            <p class="max-w-md text-xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                Wir wünschen Ihnen, dass jeder Tag voller Schönheit und Freude ist.
            </p>
        </article>
        <img class="w-1/2 sm:w-1/4 rounded-full" src="./assets/imgs/logo-text.png" alt="logo">
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="service" class="p-6 my-12 hidden">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Unser Service
        </h2>
        <section class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center">
        </section>
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="about" class="p-6 my-12">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
            Über uns
        </h2>
        <h2 class="text-3xl font-semibold mb-4">Willkommen bei Insel - Beauty & Coffee!</h2>
        <p class="text-slate-600 dark:text-white">In unserem Kosmetikstudio verbinden wir erstklassige Schönheitsbehandlungen 
            mit der Gemütlichkeit eines Cafés. Unser engagiertes Team bietet Ihnen individuelle Pflege und Entspannung in einer 
            einladenden Atmosphäre. Genießen Sie bei uns nicht nur wohltuende Behandlungen, sondern auch köstlichen Bubble Tea.</p>
        <p class="text-slate-600 dark:text-white mt-4">Hygiene, Qualität und Kundenzufriedenheit stehen bei uns an
            erster Stelle. In unseren modernen und entspannenden Räumlichkeiten bieten wir Ihnen ein unvergessliches
            Beauty-Erlebnis.</p>
        <p class="text-slate-600 dark:text-white mt-4">Vereinbaren Sie jetzt Ihren Termin ganz 
            bequem über WhatsApp und lassen Sie sich von uns verwöhnen!</p>
        <div class="text-indigo-700 dark:text-indigo-300 flex items-center">
            <a href="https://wa.me/491791300279?text=Ich+wollte+einen+Termin+vereinbaren.">JETZT BUCHEN</a>
        </div>
        <p class="text-slate-600 dark:text-white mt-4">- Ihr Team von <span class="text-slate-900 dark:text-white font-bold">Insel - Beauty & Coffee</span> -</p>
    </section>
</main>